.summaryBox {
  width: 146px;
  height: 99px;
  font-family: 'Poppins', ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.summaryBoxInner {
  width: 146px;
  height: 99px;
  /* background: #4aaa9a; */
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.summaryBoxText {
  width: 85px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 27px;
  font-family: 'Poppins', ;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.summaryBoxSubtext {
  width: 34px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 49px;
  left: 52px;
  font-family: 'Poppins', ;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.white-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mainHdg {
  font-size: 24px;
  color: black;
  font-family: 'Poppins', ;
  margin: 20px;
  font-weight: bolder;
}

.subHdg {
  font-size: 18px;
  color: #2e3136;
  font-family: 'Poppins', ;
  margin: 10px;
  font-weight: 575;
}

.text {
  font-size: 16px;
  color: #343744;
  font-family: 'Poppins', ;
  font-weight: bolder;
}

.gradeBox {
  display: flex;
  flex-direction: row;
  max-width: 22px;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 8px;
  padding-top: 7px;
  padding-right: 42px;
  padding-bottom: 7px;
  padding-left: 42px;
  background-color: rgba(255, 247, 245, 1);
  color: #ffb59d;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", ;
}

.timeStamp {
  color: #798ba3;
  font-size: 16px;
  font-family: 'Poppins', ;
}
.btn-border {
  border: 2px solid #ecf0f4;
}
.btn-border:hover {
  background-color: #ecf0f4;
}
