.input-form-btn-group {
    display: flex;
    justify-content: space-between;
    padding-top:15px
  }
  .btn-inputSuccess{
    background-color: #4aaa9a;
    padding-left: 60px;
    padding-right: 60px;
  }
  .btn-inputCancel{
    background-color: white important;
    padding-left: 60px;
    padding-right: 60px;
    color:black;
  }